.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  align-items: center;

}

.title a {
  color: #000000;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: inherit;
  width: 100%;
  height: 10%;
}

.title {
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}



.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}



.carClassSelectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;

  margin-bottom: 2%;
}

.carClassSelectionBox {
  width: 35%;
  height: 5vh;
  box-shadow: 2px 5px 5px grey;
  font-family: inherit;
  font-size: 1.1rem;
  text-align: center;
  color: black;
}

.generateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 40%;
  height: 4vh;
}

.generateBtn {
  width: 100%;
  height: 8vh;
  font-family: inherit;
  font-size: 1.5em;
  box-shadow: 2px 5px 5px grey;
  color: black;
}

.showCarContainer {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  justify-content: center;
  align-content: center;
  background-color: rgb(248, 248, 248);
  width: 100%;
  
  margin: 3vh;
  padding: 0;
  border-radius: 15px;
}

.showCarContainer h2 {
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  line-height: 1em;
  text-align: center;
}

.showCarContainer h3 {
  line-height: 0em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.clearBtnContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  height: 5vh;
}

.clearBtn {
  width: 20%;
  height: 4vh;
  background-color: rgba(126, 13, 13, 0.321);
  font-family: inherit;
  font-size: 1em;
  box-shadow: 2px 5px 5px grey;
  color: black;
  border-radius: 5px;
}
